body {
    color: #000000;
    font-family: "Arial";
    text-align: center;
}

h1 {
    font-size: 5em;
    text-align: left;
}

h4 {
    text-align: right;
}

p {
    text-align: justify;
}

.container {
    margin: auto;
    width: 85%;
    border-radius: 20px;
    border: solid 3px #000000;
    padding: 2em;
}

.post p {
    font-size: 1.3em;
    font-family: sans-serif;
}

ul {
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    color: brown;
}