body {
    color: #000000;
    font-family: "Arial";
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3em;
    font-weight: bold;
    padding: 0.5em;
}

h3 {
    font-size: 1.5em;
    padding: 0.5em;
    text-align: right;
}

.container {
    margin: auto;
    width: 90%;
    border: solid 3px #000000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 90px;
}

.cabecera {
    text-align: left;
    background-color: midnightblue;
    width: 100%;
    box-shadow: 4px 15px 15px black;
}

img {
    width: 100%;
}

.post p {
    font-size: 1.3em;
    font-family: sans-serif;
    text-align: justify;
    padding: 1em;
}

ul {
    text-decoration: none;
    text-align: left;
    font-size: 1.2em;
    color: brown;
    width: 95%;
    display: inline-block;
    margin: auto;
}

.footer {
    background-color: rgba(2, 2, 2, 0.89);
    padding: 1.2em;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

span {
    font-size: 0.9em;
    text-transform: uppercase;
    color: rgb(187, 11, 11);
}