body {
    color: #000000;
    font-family: "Arial";
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
}

.container {
    margin: auto;
    width: 95%;
    border: solid 2px #000000;
}

.cabecera {
    text-align: left;
    background-color: midnightblue;
    width: 100%;
    box-shadow: 0px 10px 10px black;
}

.blog p {
    font-size: 3em;
}